.Cell {
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    z-index: 20;
}

.undiscovered, .flagged {
    background-color: lightgrey;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
}

.undiscovered:hover {
    background-color: rgba(220, 200, 200, 1.0);
}

.clicked, .discovered {
    border: 1px solid white;
    background-color: gray;
    font-weight: 700;
}

.discovered-1 {
    color: blue;
}

.discovered-2 {
    color: green;
}

.discovered-3 {
    color: red;
}

.discovered-4 {
    color: yellow;
}

.discovered-5 {
    color: purple;
}

.discovered-6 {
    color: orange;
}

.discovered-7 {
    color: darkblue;
}

.discovered-8 {
    color: brown;
}

.explosion {
    background-color: darkred;
}